@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #130303;
  --color-secondary: #2d080a;
  --color-tertiary: #7c3626;
  --color-accent: #ffcdbc;
  --color-accent-two: #f5853f;
  --breakpoint-sm: 30rem;
}

.font-heading,
h1,
h2,
h3 {
  font-family: "Playfair Display";
}

.font-accent {
  font-family: "Playfair Display";
}
.font-mono {
  font-family: "Space Grotesk";
}
.font-p {
  font-family: "Work Sans";
}

.dither-container {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge (legacy) */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
